@import 'src/variables.scss';

div.testing-container {
    button {
        color: $white;

        &.green {
            background-color: lighten($fruit-salad, 10%);

            i {
                color: lighten($fruit-salad, 30%);
            }
            &:hover {
                background-color: $fruit-salad;
            }
        }
        &.blue {
            background-color: lighten($cerulean, 10%);
            i {
                color: lighten($cerulean, 30%);
            }
            &:hover {
                background-color: $cerulean;
            }
        }
        &.red {
            background-color: lighten($mandy, 10%);
            i {
                color: lighten($mandy, 30%);
            }
            &:hover {
                background-color: $mandy;
            }
        }
    }
}

table {
    button {
        &.blue {
            background-color: lighten($cerulean, 10%);
            i {
                color: lighten($cerulean, 30%);
            }
            &:hover {
                background-color: $cerulean;
            }
        }
    }
}

app-modal {
    &#add-tests-modal {
        button {
            &.blue {
                background-color: lighten($cerulean, 10%);
                i {
                    color: lighten($cerulean, 30%);
                }
                &:hover {
                    background-color: $cerulean;
                }
            }
        }

        select, label {
            font-size: 1.4rem;
        }

        input {
            font-size: 1.6rem;
        }
    }

    &.success-modal {
        div.success i {
            color:$fruit-salad;
        }
    }
    &.error-modal {
        div.error i {
            color:$mandy;
        }
    }
}
