@use 'src/variables.scss' as *;
@use "sass:color";

div#home-overview {
    height: calc(100vh - 12rem);
    overflow: auto;
    display: block;

    button {
        color: $white;

        &.green {
            background-color: color.adjust($fruit-salad, $lightness: 10%);

            i {
                color: color.adjust($fruit-salad, $lightness: 30%);
            }

            &:hover {
                background-color: $fruit-salad;
            }
        }

        &.blue {
            background-color: color.adjust($cerulean, $lightness: 10%);

            i {
                color: color.adjust($cerulean, $lightness: 30%);
            }

            &:hover {
                background-color: $cerulean;
            }
        }

        &.red {
            background-color: color.adjust($mandy, $lightness: 10%);

            i {
                color: color.adjust($mandy, $lightness: 30%);
            }

            &:hover {
                background-color: $mandy;
            }
        }
    }
}

table {
    button {
        &.blue {
            background-color: color.adjust($cerulean, $lightness: 10%);

            i {
                color: color.adjust($cerulean, $lightness: 30%);
            }

            &:hover {
                background-color: $cerulean;
            }
        }
    }

    td {
        padding: 1.1rem .8rem .8rem .8rem;
    }

    thead {
        tr:first-child {
            background-color: #E0E0E0;
        }

        td {
            font-weight: 400;
            background-color: transparent !important;

            &.asc,
            &.desc,
            &.sortable {
                padding-right: 25px;
            }

            &.asc::after,
            &.desc::after {
                right: 10px;
            }
        }
    }

    tbody {
        tr {
            cursor: pointer;

            &:hover {
                background-color: color.adjust($anakiwa, $lightness: 5%);
            }
        }

        td {
            background-color: transparent !important;
        }

        tr.active {
            background-color: color.adjust($anakiwa, $lightness: 5%);

            &:hover {
                background-color: $anakiwa;
            }
        }
    }
}

.report-details {
    table {
        thead {
            td {
                background-color: inherit !important;
            }
        }

        tbody {
            tr {
                cursor: default;

                &:hover {
                    background-color: inherit;
                }
            }

            thead {
                tr:hover {
                    background-color: #E0E0E0;
                }
            }

        }
    }
}

app-modal {
    &#add-tests-modal {
        button {
            &.blue {
                background-color: color.adjust($cerulean, $lightness: 10%);

                i {
                    color: color.adjust($cerulean, $lightness: 30%);
                }

                &:hover {
                    background-color: $cerulean;
                }
            }
        }

        select,
        label {
            font-size: 1.4rem;
        }

        input {
            font-size: 1.6rem;
        }
    }

    &.success-modal {
        div.success i {
            color: $fruit-salad;
        }
    }

    &.error-modal {
        div.error i {
            color: $mandy;
        }
    }
}