<footer class="footer" [ngClass]="{'local': environment === 'local',
                                            'dev': environment === 'dev',
                                            'uat': environment === 'uat',
                                            'prod': environment === 'prod'}">
    <a class="px-3 text-ghost-grey" href="http://www.snomed.org/" target="_blank">Copyright © {{year}} SNOMED International</a>    
    <a class="px-3 text-ghost-grey" href="http://www.snomed.org/contact-us/" target="_blank">Contact Us</a>
</footer>
